{%- from "macros/section_attrs.j2" import section_attrs -%}
{%- from "macros/text.j2" import text -%}

{%- macro list(content) -%}
{{ content }}    

{%- for paragraph in content.paragraphs -%}
    <p {{- section_attrs(section.attrs) -}}>{{- text(paragraph.tags) -}}</p>
{%- endfor -%}
{%- endmacro -%}
