{%- from "foundation/blocks/section_attrs.j2" import section_attrs -%}
{%- from "foundation/blocks/text.j2" import text -%}

{%- macro todo(content) -%}
    {% for paragraph in content.paragraphs %}
        {{ text(paragraph.tags) }}
    {% endfor %}
    <ul>
        {% for item in content.items %}
            <li>
                {% for paragraph in item.paragraphs %}
                    <p>
                        {% if loop.first %}
                            <input type="checkbox" {% if item.status.type == "done" %}checked {% endif %} disabled>
                        {% endif %}
                        {{ text(paragraph.tags) }}
                    </p>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
{%- endmacro -%}
