{%- from "foundation/block/text.j2" import text -%}
{%- from "foundation/block/sections.j2" import sections -%}
{%- from "foundation/block/section_attrs.j2" import section_attrs -%}
{%- from "foundation/sections/aside.j2" import aside -%}
{%- from "foundation/sections/blockquote.j2" import blockquote -%}
{%- from "foundation/sections/checklist.j2" import checklist -%}
{%- from "foundation/sections/closediv.j2" import closediv -%}
{%- from "foundation/sections/code.j2" import code -%}
{%- from "foundation/sections/h1.j2" import h1 -%}
{%- from "foundation/sections/h2.j2" import h2 -%}
{%- from "foundation/sections/h3.j2" import h3 -%}
{%- from "foundation/sections/h4.j2" import h4 -%}
{%- from "foundation/sections/h5.j2" import h5 -%}
{%- from "foundation/sections/h6.j2" import h6 -%}
{%- from "foundation/sections/html.j2" import html -%}
{%- from "foundation/sections/image.j2" import image -%}
{%- from "foundation/sections/images.j2" import images -%}
{%- from "foundation/sections/list.j2" import list -%}
{%- from "foundation/sections/notes.j2" import notes -%}
{%- from "foundation/sections/olist.j2" import olist -%}
{%- from "foundation/sections/opendiv.j2" import opendiv -%}
{%- from "foundation/sections/p.j2" import p -%}
{%- from "foundation/sections/pre.j2" import pre -%}
{%- from "foundation/sections/todo.j2" import todo -%}
{%- from "foundation/sections/vimeo.j2" import vimeo -%}
{%- from "foundation/sections/youtube.j2" import youtube -%}

{%- macro primary_sections(content) -%}
{%- for section in content -%}
{%- if section.type == "aside" -%}
    {{ aside(section) }}
{%- elif section.type == "blockquote" -%}
    {{ blockquote(section) }}
{%- elif section.type == "checklist" -%}
    {{ checklist(section) }}
{%- elif section.type == "closediv" -%}
    {{ closediv() }}
{%- elif section.type == "code" -%}
    {{ code(section) }}
{%- elif section.type == "hidden" -%}
{%- elif section.type == "h1" -%}
    {{ h1(section) }}
{%- elif section.type == "h2" -%}
    {{ h2(section) }}
{%- elif section.type == "h3" -%}
    {{ h3(section) }}
{%- elif section.type == "h4" -%}
    {{ h4(section) }}
{%- elif section.type == "h5" -%}
    {{ h5(section) }}
{%- elif section.type == "h6" -%}
    {{ h6(section) }}
{%- elif section.type == "html" -%}
    {{- section.text -}}
{%- elif section.type == "hr" -%}
    <hr {{- section_attrs(section.attrs)-}} />
{%- elif section.type == "image" -%}
    {{- image(section) -}}


{%- elif section.type == "list" -%}
    {%- for paragraph in section.paragraphs -%}
        <p>{{- text(paragraph.tags) -}}</p>
    {%- endfor -%}
    <ul {{- section_attrs(section.attrs)-}}>
    {% for item in section.items %} 
        <li>
        {%- for paragraph in item.paragraphs -%}
            <p>{{- text(paragraph.tags) -}}</p>
        {%- endfor -%}
        </li>
    {% endfor %}
    </ul>
{%- elif section.type == "notes" -%}
    {%- for paragraph in section.paragraphs -%}
        <p>{{- text(paragraph.tags) -}}</p>
    {%- endfor -%}
    <ul {{- section_attrs(section.attrs)-}}>
    {% for item in section.items %} 
        <li>
        {%- for paragraph in item.paragraphs -%}
            <p>{{- text(paragraph.tags) -}}</p>
        {%- endfor -%}
        </li>
    {% endfor %}
    </ul>
{%- elif section.type == "olist" -%}
    {%- for paragraph in section.paragraphs -%}
        <p>{{- text(paragraph.tags) -}}</p>
    {%- endfor -%}
    <ol {{- section_attrs(section.attrs)-}}>
    {% for item in section.items %} 
        <li>
        {%- for paragraph in item.paragraphs -%}
            <p>{{- text(paragraph.tags) -}}</p>
        {%- endfor -%}
        </li>
    {% endfor %}
    </ol>
{%- elif section.type == "opendiv" -%}
    <div {{- section_attrs(section.attrs) -}}>
{%- elif section.type == "p" -%}
    {{ p(section) }}
{%- elif section.type == "pre" -%}
    <pre {{- section_attrs(section.attrs)-}}>
    {{- section.text -}}
    </pre>
{%- elif section.type == "todo" -%}
    {{ todo(section) }}
{%- elif section.type == "vimeo" -%}
    <div {{- section_attrs(section.attrs)-}}>
    <iframe src="https://player.vimeo.com/video/{{- section.id -}}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
{%- elif section.type == "youtube" -%}
    <div {{- section_attrs(section.attrs)-}}>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{- section.id -}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
{%- endif -%}
{%- endfor -%}
{%- endmacro -%}