{% extends "foundations/default.j2" %}
{% block document %}
<!DOCTYPE html>


  <h1>Index</h1>
  <p class="important">
    Welcome to my awesome homepage.
  </p>
  <ul>

{%- for section in content -%}
{%- if section.type == "aside" -%}
    {{ aside(section) }}
{%- elif section.type == "blockquote" -%}
    {{ blockquote(section) }}
{%- elif section.type == "checklist" -%}
    {{ checklist(section) }}
{%- elif section.type == "closediv" -%}
    {{ closediv() }}
{%- elif section.type == "code" -%}
--aaaaaa--------############
    {{ code(section) }}
{%- elif section.type == "hidden" -%}
{%- elif section.type == "h1" -%}
    {{ h1(section) }}
{%- elif section.type == "h2" -%}
    {{ h2(section) }}
{%- elif section.type == "h3" -%}
    {{ h3(section) }}
{%- elif section.type == "h4" -%}
    {{ h4(section) }}
{%- elif section.type == "h5" -%}
    {{ h5(section) }}
{%- elif section.type == "h6" -%}
    {{ h6(section) }}
{%- elif section.type == "html" -%}
    {{- section.text -}}
{%- elif section.type == "hr" -%}
    <hr {{- section_attrs(section.attrs)-}} />
{%- elif section.type == "image" -%}
    {{- image(section) -}}


{%- elif section.type == "list" -%}
    {%- for paragraph in section.paragraphs -%}
        <p>{{- text(paragraph.tags) -}}</p>
    {%- endfor -%}
    <ul {{- section_attrs(section.attrs)-}}>
    {% for item in section.items %} 
        <li>
        {%- for paragraph in item.paragraphs -%}
            <p>{{- text(paragraph.tags) -}}</p>
        {%- endfor -%}
        </li>
    {% endfor %}
    </ul>
{%- elif section.type == "notes" -%}
    {%- for paragraph in section.paragraphs -%}
        <p>{{- text(paragraph.tags) -}}</p>
    {%- endfor -%}
    <ul {{- section_attrs(section.attrs)-}}>
    {% for item in section.items %} 
        <li>
        {%- for paragraph in item.paragraphs -%}
            <p>{{- text(paragraph.tags) -}}</p>
        {%- endfor -%}
        </li>
    {% endfor %}
    </ul>
{%- elif section.type == "olist" -%}
    {%- for paragraph in section.paragraphs -%}
        <p>{{- text(paragraph.tags) -}}</p>
    {%- endfor -%}
    <ol {{- section_attrs(section.attrs)-}}>
    {% for item in section.items %} 
        <li>
        {%- for paragraph in item.paragraphs -%}
            <p>{{- text(paragraph.tags) -}}</p>
        {%- endfor -%}
        </li>
    {% endfor %}
    </ol>
{%- elif section.type == "opendiv" -%}
    <div {{- section_attrs(section.attrs) -}}>
{%- elif section.type == "p" -%}
    {%- for paragraph in section.paragraphs -%}
    <p {{- section_attrs(section.attrs) -}}>{{- text(paragraph.tags) -}}</p>
    {%- endfor -%}
{%- elif section.type == "pre" -%}
    <pre {{- section_attrs(section.attrs)-}}>
    {{- section.text -}}
    </pre>
{%- elif section.type == "todo" -%}
    {{ todo(section) }}
{%- elif section.type == "vimeo" -%}
    <div {{- section_attrs(section.attrs)-}}>
    <iframe src="https://player.vimeo.com/video/{{- section.id -}}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
{%- elif section.type == "youtube" -%}
    <div {{- section_attrs(section.attrs)-}}>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{- section.id -}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
{%- endif -%}
{%- endfor -%}

  </ul>
{% endblock %}