{%- from "macros/section_attrs.j2" import section_attrs -%}
{%- from "macros/text.j2" import text -%}

{%- macro todo(content) -%}


<h3>TODO: Get opening paragraph content to show up</h3>

{% for paragraph in content.paragraphs %}
{{ text(paragraph.tags) }}
{% endfor %}

<ul>
{% for item in content.items %}
<li>

<input type="checkbox" {% if item.status.type == "done" %}checked {% endif %} disabled>

{% for paragraph in item.paragraphs %}
{{ text(paragraph.tags) }}
{% endfor %}

</li>
{% endfor %}
</ul>

{%- endmacro -%}
