{%- from "macros/head_content.j2" import head_content -%}
{%- from "sections/title.j2" import title -%}
{%- from "blocks/primary_sections.j2" import primary_sections -%}

<!DOCTYPE html>
<html lang="en">
<head>    
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title_string }}</title>
  <style>
    body {
      background-color: #000;
      color: #aaa;
    }
  </style>
  {{ head_content(content) }}
</head>
<body>
  <header>
    <a href="/">home</a>  
    {{ title(content, date) }}
  </header>
  <main>
  {{- primary_sections(content) -}}
  </main>
</body>
</html>
